html {
	scroll-behavior:smooth;
}

body {
	padding:0%;
	padding-top:1%;
	background-color:rgb(200, 200, 200);
	color:rgb(25, 25, 25);
}

a {
	color:grey;
}

a:hover {
	color:white;
}

h1 {
	text-align:center;
}

p {
	margin:10px;
	text-align:center;
}

img {
	position:absolute;
	margin:auto;
	margin-left:1%;
}
div p{
	text-align:left;
}
div {
	margin:1%;
	background-color:rgb(230, 230, 230);
	padding:1%;
}

footer {
	text-align:center;
	color:rgb(200, 200, 200);
	margin:1%;
	padding:0.5%;
	background-color:rgb(25, 25, 25);
}

nav {
	text-align:center;
}

nav a {
	text-decoration:None;
}
