html {
	scroll-behavior:smooth;
}

body {
	margin:auto;
	margin-left:10%;
	margin-right:10%;
	background-color:rgb(200, 200, 200);
	padding:1%;
	color:rgb(25, 25, 25);
}


div {
	margin:1%;
	margin-left:0%;
	margin-right:0%;
	background-color:rgb(230, 230, 230);
	padding:1%;
}

footer {
	text-align:center;
	color:rgb(200, 200, 200);
	margin:1%;
	margin-left:-10%;
	margin-right:-10%;
	padding:0.5%;
	background-color:rgb(25, 25, 25);
}

nav a {
	text-decoration:None;
}

h1 {
	
}